* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: grey;
}

#header {
    /* top bar */
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    background-color: rosybrown;
}

button {
    position: relative;
    z-index: auto;
    left: 40%;
}

#game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    justify-content: center;
    align-content: center;
    perspective: 1000px;
    }

.backFace {
    position: relative;
    left: 185px;
}

.cards {
    transform-style: preserve-3d;
    transition: 1.5s;
}

.backFace, .frontFace {
    backface-visibility: hidden;
}

.cards.flipped {
    transform: rotateY(180deg);
}

.frontFace {
    transform: rotateY(180deg);
}


img {
    height: 180px;
    width: 180px;
    //border: 2px solid red;
}